use master
go

create database PS10576_QLDienThoai 
go

use PS10576_QLDienThoai 
go

create table TheLoai
(
	MaLoai char(5) primary key,
	TenLoai nvarchar(50)
)
go

create table SanPham
(
	MaSP char(5) primary key,
	TenSP nvarchar(50),
	Gia money default 0,
	MoTa nvarchar(50),
	Hinh varchar(50),
	MaLoai char(5) foreign key references TheLoai (MaLoai)
)
go

create table TaiKhoan
(
	TenDangNhap char(5) primary key,
	MatKhau nvarchar(50),
	VaiTro bit,
)
go

create table KhachHang
(
	MaKH int identity(1, 1) primary key,
	MatKhau varchar(30),
	HoTen nvarchar(50),
	SoDT varchar(10) unique,
	Email varchar(50) unique,
	DiaChi nvarchar(50)
)
go

create table GioHang
(
	MaGH char(5) primary key,
	MaKH int foreign key references KhachHang (MaKH),
	NgayLap date default getdate(),
)
go

create table CT_GioHang
(
	MaGH char(5) foreign key references GioHang (MaGH),
	MaSP char(5) foreign key references SanPham (MaSP),
	SoLuong int default 0,
	primary key (MaGH, MaSP)
)
go

-- The loai
insert into TheLoai values('SS', N'SamSung')
insert into TheLoai values('AP', N'Apple')
insert into TheLoai values('OP', N'Oppo')

-- San Pham
set dateformat DMY
insert into SanPham values('SP01', N'Galaxy S10', 1447, N'SamSung Galaxy S10 128GB', 'SamSungGalaxyS10.png', 'SS')
insert into SanPham values('SP02', N'Galaxy A50', 580, N'SamSung Galaxy A50 màn hình 6.8"', 'GalaxyA50.png', 'SS')
insert into SanPham values('SP03', N'Note 5 ', 1127, N'SamSung  Note 5 siêu rẻ', 'Note5.png', 'SS')





--Tài khoản
insert into TaiKhoan values('admin', '123', 1)
insert into TaiKhoan values('nv01', '123', 0)
--Khach Hang
insert into KhachHang values('123', N'Ngô Tuấn Đức', '0334255377', 'ducntps10576@fpt.edu.vn', N'74 Hàn Hải Nguyên F.8 Q.11 TPHCM')
insert into KhachHang values('123', N'Đoàn Quốc Trung', '0123456789', 'trung123@fpt.edu.vn', N'45 Nguyễn Thi Minh Khai Q.1 TPHCM')
insert into KhachHang values('123', N'Hồ Hoàng Tông', '0147852369', 'tong123@fpt.edu.vn', N'135 Trang Tử Q.5 TPHCM')

--Gio Hang
insert into GioHang values('GH01', 5, '25/08/2019')
insert into GioHang values('GH02', 4, '20/07/2018')
insert into GioHang values('GH03', 3, '15/06/2019')

-- CT Gio Hang
insert into CT_GioHang values('GH01', 'SP05', 1)
insert into CT_GioHang values('GH01', 'SP10', 3)

insert into CT_GioHang values('GH02', 'SP02', 1)



