<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControllerLogin</servlet-name>
        <servlet-class>Control.ControllerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerTheLoai</servlet-name>
        <servlet-class>Control.ControllerTheLoai</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerKhachHang</servlet-name>
        <servlet-class>Control.ControllerKhachHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerGioHang</servlet-name>
        <servlet-class>Control.ControllerGioHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerGioHangCT</servlet-name>
        <servlet-class>Control.ControllerGioHangCT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerSanPham</servlet-name>
        <servlet-class>Control.ControllerSanPham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCart</servlet-name>
        <servlet-class>Control.ControllerCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerLogin</servlet-name>
        <url-pattern>/ControllerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerTheLoai</servlet-name>
        <url-pattern>/ControllerTheLoai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerKhachHang</servlet-name>
        <url-pattern>/ControllerKhachHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerGioHang</servlet-name>
        <url-pattern>/ControllerGioHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerGioHangCT</servlet-name>
        <url-pattern>/ControllerGioHangCT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerSanPham</servlet-name>
        <url-pattern>/ControllerSanPham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCart</servlet-name>
        <url-pattern>/ControllerCart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
